{% extends 'base.html.twig' %}

{% block title %}
    Profilis
{% endblock %}


{% block body %}

    <a class="btn btn-default" href="/">Pagrindinis puslapis</a>
    {% if app.user.userInfo.id is defined %}
        <a class="btn btn-default" href="{{ path('profileEdit', {'id': app.user.userInfo.id}) }} ">Atnaujinti profilį</a>
    {% else %}
        <a href="{{ path('profileCreate') }}">Profilis</a>
    {% endif %}

    <hr>

    <h2 class="page header">Profile</h2>
    <ul class = list-group">
        <li class="list-group-item"> Vardas: {{ userInfo.firstName }}</li>
        <li class="list-group-item"> Pavardė: {{ userInfo.lastName }}</li>
        <li class="list-group-item"> Gimimo data: <strong>{{ userInfo.bornAt|date('Y-g-j')}}</strong></li>
    </ul>
{% endblock %}