{% extends 'base.html.twig' %}

{% block title %}Užsakymai{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>

            <tr>
                <th></th>
                <th>#</th>
                <th>Markė</th>
                <th>Modelis</th>
                <th>Aprašymas</th>
                <th></th>
                <th></th>
            </tr>

            </thead>
            <tbody>

            {% for order in pagination %}
                {% if (is_granted('ROLE_ADMIN')) or (order.fk_client == app.user.id) %}
                    <tr>
                        <td></td>
                        <th>{{ loop.index }}</th>
                        <td>{{ order.auto_make }}</td>
                        <td>{{ order.auto_model }}</td>
                        <td>{{ order.description }}</td>
                        <td>
                            {% if (order.status == 1) %}
                                <button type="button" class="btn btn-warning btn-sm">Vykdomas</button>
                            {% endif %}

                            {% if (order.status == 0) %}
                                <button type="button" class="btn btn-danger btn-sm">Atšauktas</button>
                            {% endif %}

                            {% if (order.status == 2) %}
                                <button type="button" class="btn btn-success btn-sm">Baigtas</button>
                            {% endif %}

                        </td>
                        {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_MECHANIC')) %}
                        <td>
                            {#{{ path('user.edit', {id: user.id}) }}#}
                            <a href="/edit/order/{{ order.id }}">
                                <button type="button" class="btn btn-primary">Redaguoti</button>
                            </a>
                        </td>
                            {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}


            </tbody>
        </table>
        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <a href="/add/order">
            <button type="button" class="btn btn-default btn-md">Naujas užsakymas</button>
        </a>
    </div>



{% endblock %}
